.home-container {
  background-color: $zup-primary;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    height: 600px;
    width: 600px;
    overflow-y: scroll;
    .card-body input {
      margin: 10px 0;
    }
  }
}

.header {
  background-color: $zup-mid-purple;
  width: 100%;
  height: 100px;
  img {
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    cursor: pointer;
  }
  .user {
    display: grid;
    justify-content: flex-end;
    padding: 0 40px;
    a {
      margin: 4px;
    }
    p {
      font-size: 16px;
      align-items: center;
      color: $zup-white;
      cursor: pointer;
      margin: 0;
    }
    a {
      cursor: pointer;
    }
  }
}
