<nav class="header">
  <div class="navbar-brand">
    <img src="https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5cac6366154dfc8bbe552ea6_logo-zup.svg" width="60"
      height="60" alt="">
  </div>
  <div class="user">
    <!-- <a class="badge badge-light" (click)="displayLogout()">{{ usuario }}</a> -->
    <a class="badge badge-light" (click)="logout()">sair</a>
  </div>
</nav>

<div class="home-container">
  <div class="card">
    <div class="card-body">
      <input type="text" class="form-control" type="text" id="pesquisaInput" (keyup)="pesquisa()"
        placeholder="Pesquisar por nome" title="Type in a name">
      <table id="userTable" class="table table-striped table-bordered" style="width:100%">
        <tr class="header">
          <th style="width:30%">Nome</th>
          <th style="width:70%">url</th>
        </tr>

        <tr id="users" *ngFor="let users of followingUsers">
          <td>{{users.login}}</td>
          <td>{{users.url}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>